In [1]:
import pandas as pd

In [2]:
job_df = pd.read_csv('job.csv')
trend_df = pd.read_csv('googletrends.csv')
linkedin_df = pd.read_csv('linkedin.csv')
github_df = pd.read_csv('githubSearch.csv')
tiobe_df = pd.read_csv('tiobeindex.csv')
wiki_df = pd.read_csv('avg_wiki_monthly22.csv')
stackOverflow_df = pd.read_csv('stackOverflow3.csv')

In [3]:
res1 = pd.merge(job_df, linkedin_df, on='programming language', how='left', suffixes=('_job', '_linkedin'))
res2 = pd.merge(res1, wiki_df, on='programming language', how='left', suffixes=('_res1', '_wiki'))
res2.fillna(-1, inplace=True)
res2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   programming language      176 non-null    object
 1   job amount                176 non-null    int64
 2   average salary            176 non-null    float64
 3   location                  176 non-null    object
 4   linkedin skill            176 non-null    int64
 5   avg wiki views (monthly)  176 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 8.4+ KB

In [4]:
res3 = pd.merge(res2, github_df, on="programming language")
res4 = pd.merge(res3, trend_df, on="programming language")
res5 = pd.merge(res4, stackOverflow_df, on="programming language")
res5.head()

,programming language,job amount,average salary,location,linkedin skill,avg wiki views (monthly),github user count,average search count,stack overflow count
0,Java,728,6.153528e+06,"['East Kalimantan', 'West Java', 'Bali', 'Yogy...",103000,3925.598214,6800,28.133930,2531
1,JavaScript,1111,6.168157e+06,"['East Kalimantan', 'West Java', 'Bali', 'Yogy...",118000,5276.794643,11400,15.482143,4633
2,Dart,32,6.250161e+06,"['West Java', 'Yogyakarta', 'East Java', 'Jaka...",945,52.953846,877,37.000000,963
3,Node.js,450,5.596209e+06,"['West Java', 'Bali', 'Yogyakarta', 'East Java...",34000,662.803571,-1,2.633929,2207
4,PHP,505,5.762279e+06,"['West Java', 'Bali', 'Yogyakarta', 'East Java...",123000,4083.750000,8600,26.616071,3147

In [5]:
res6 = pd.merge(tiobe_df, res5, on="programming language")
res6.head()

,programming language,tiobe index ratings,job amount,average salary,location,linkedin skill,avg wiki views (monthly),github user count,average search count,stack overflow count
0,Java,10.51,728,6.153528e+06,"['East Kalimantan', 'West Java', 'Bali', 'Yogy...",103000,3925.598214,6800,28.133930,2531
1,JavaScript,3.54,1111,6.168157e+06,"['East Kalimantan', 'West Java', 'Bali', 'Yogy...",118000,5276.794643,11400,15.482143,4633
2,Dart,0.56,32,6.250161e+06,"['West Java', 'Yogyakarta', 'East Java', 'Jaka...",945,52.953846,877,37.000000,963
3,Node.js,0.00,450,5.596209e+06,"['West Java', 'Bali', 'Yogyakarta', 'East Java...",34000,662.803571,-1,2.633929,2207
4,PHP,1.21,505,5.762279e+06,"['West Java', 'Bali', 'Yogyakarta', 'East Java...",123000,4083.750000,8600,26.616071,3147

In [6]:
res6.to_csv('result3.csv', index=False)

In [7]:
res6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   programming language      175 non-null    object
 1   tiobe index ratings       175 non-null    float64
 2   job amount                175 non-null    int64
 3   average salary            175 non-null    float64
 4   location                  175 non-null    object
 5   linkedin skill            175 non-null    int64
 6   avg wiki views (monthly)  175 non-null    float64
 7   github user count         175 non-null    int64
 8   average search count      175 non-null    float64
 9   stack overflow count      175 non-null    int64
dtypes: float64(4), int64(4), object(2)
memory usage: 13.8+ KB