In [30]:
import pandas as pd
import ast

In [31]:
df = pd.read_csv('language_list22.csv')
df['location'] = df['location'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)

In [32]:
df['location'] = df['location'].apply(lambda loc: list(set(loc)) if isinstance(loc, list) else loc)

df.head()

,programming language,job amount,average salary,location
0,Java,728,6.153528e+06,"[East Kalimantan, West Java, Bali, Yogyakarta,..."
1,JavaScript,1111,6.168157e+06,"[East Kalimantan, West Java, Bali, Yogyakarta,..."
2,Dart,32,6.250161e+06,"[West Java, Yogyakarta, East Java, Jakarta, Ba..."
3,Node.js,450,5.596209e+06,"[West Java, Bali, Yogyakarta, East Java, Jakar..."
4,PHP,505,5.762279e+06,"[West Java, Bali, Yogyakarta, East Java, Jakar..."

In [33]:
df.to_csv('language_list33.csv', index=False)