In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('yearly_stack_overflow_count.csv')
df

,programming language,stack_overflow_count_2014,stack_overflow_count_2015,stack_overflow_count_2016,stack_overflow_count_2017,stack_overflow_count_2018,stack_overflow_count_2019,stack_overflow_count_2020,stack_overflow_count_2021,stack_overflow_count_2022,stack_overflow_count_2023,stack_overflow_count_2024
0,Java,8,67,85,131,414,402,300,384,302,236,202
1,JavaScript,10,91,116,210,564,634,484,793,667,590,474
2,Dart,2,2,2,3,0,103,128,224,193,177,129
3,Node.js,9,28,44,116,394,0,0,478,437,410,291
4,PHP,9,94,92,171,458,459,345,501,423,323,272
...,...,...,...,...,...,...,...,...,...,...,...,...
170,Dc,0,0,0,0,0,0,0,0,0,0,0
171,VBScript,0,0,0,0,0,0,0,0,0,0,0
172,CORAL,0,0,0,0,0,0,0,0,0,0,0
173,UniVerse,0,0,0,0,0,0,0,0,0,0,0
174,C2,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_melt = df.melt(id_vars="programming language", var_name='year', value_name='count')
df_melt["year"] = df_melt["year"].str.extract("(\d+)$").astype(int)

df_pivot = df_melt.pivot(index="year", columns="programming language", values="count")
df_pivot = df_pivot.loc[:, (df_pivot != 0).any(axis=0)]
df_pivot

programming language,APL,ASP.NET,Ada,Apex,Arduino,Assembly,Bash,C,C#,C++,...,SAS,SPARK,SQL,SQLite,Scala,Solidity,Swift,TypeScript,VBA,Visual Basic
year,,,,,,,,,,,,,,,,,,,,,
2014,0,1,0,0,3,0,0,1,4,2,...,0,0,9,0,1,0,0,0,0,0
2015,0,0,0,0,13,0,0,22,38,8,...,0,0,88,0,4,0,5,0,0,23
2016,0,0,0,0,23,0,0,17,65,25,...,0,0,89,0,15,0,27,0,0,36
2017,0,0,0,0,0,7,0,44,89,70,...,0,17,170,101,12,0,27,27,10,51
2018,0,0,0,0,0,47,221,170,246,247,...,0,45,451,184,51,0,103,109,38,160
2019,0,0,0,0,0,69,0,133,232,200,...,0,0,508,318,34,0,103,190,51,0
2020,0,0,0,0,0,45,0,117,152,156,...,0,0,353,251,29,0,87,186,53,0
2021,11,99,0,0,0,34,148,153,244,259,...,0,0,553,358,19,0,94,368,40,0
2022,8,51,0,0,0,29,140,122,172,184,...,6,0,493,276,22,30,60,353,41,0
2023,9,62,15,9,0,38,0,143,167,180,...,8,0,425,266,20,18,54,380,26,0
2024,0,63,11,9,0,35,0,120,146,146,...,0,0,390,256,18,19,49,284,28,0

In [7]:
df_pivot.to_csv('format_stack.csv')