In [1]:
import pandas as pd
import numpy as np
import ast
from sklearn.impute import SimpleImputer

In [2]:
job_df = pd.read_csv('job_cleaned.csv')
job_df['programming language'] = job_df['programming language'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)
job_df = job_df[job_df['programming language'].str.len() > 0].reset_index(drop=True)
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2710 entries, 0 to 2709
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   job title             2710 non-null   object
 1   company name          2710 non-null   object
 2   location              2710 non-null   object
 3   salary                2710 non-null   float64
 4   job type              2310 non-null   object
 5   job description       2710 non-null   object
 6   programming language  2710 non-null   object
dtypes: float64(1), object(6)
memory usage: 148.3+ KB

In [3]:
d = {}

def note_numlanguage(languages):
    for lang_list in languages:
        for lang in lang_list:  
            if lang in d:
                d[lang] += 1  
            else:
                d[lang] = 1  

note_numlanguage(job_df['programming language'])

language_df = pd.DataFrame(columns=['programming language', 'job amount'])
print(len(d))
for key, value in d.items():
    new_row ={'programming language':key, 'job amount':value}
    language_df = language_df._append(new_row, ignore_index=True)
    print(f"{key}: {value}")

183
PHP: 505
Java: 728
JavaScript: 1111
JS++: 547
Node.js: 298
Dart: 32
Visual Basic: 234
PostgreSQL: 365
TypeScript: 211
.QL: 793
SQL: 793
MySQL: 511
CHAIN: 64
D++: 107
Flow: 120
FOCUS: 326
Python: 675
kernel: 1
Address: 141
ASP.NET: 84
C: 362
C++: 366
Go: 211
Ruby: 112
GraphQL: 62
Ada: 71
MariaDB: 24
Scheme: 6
Low*: 58
Expect: 33
Copilot: 8
Solidity: 4
pipelines: 244
solid: 338
RAPID: 31
NPL: 1
april: 3
flagship: 11
Swift: 96
Small: 72
Kotlin: 117
Simplicity: 5
Perl: 18
Scratch: 25
R: 148
R++: 148
F: 14
Scala: 36
Groovy: 10
Rust: 27
Revolution: 61
Apex: 11
Click: 54
MATLAB: 17
Adept: 21
dss: 2
SPARK: 82
Pure: 3
PL/SQL: 24
GAP: 23
Falcon: 2
Alpha: 3
Plot: 46
Joy: 57
CONVERT: 23
Frank: 1
Objective-C: 19
lever: 1
P: 38
JADE: 5
Blue: 3
NATURAL: 68
Inform: 32
Reason: 11
ARM: 6
SR: 6
Crystal: 11
PowerHouse: 11
Conceptual: 22
Factor: 10
False: 2
RPL: 4
SQLite: 12
fe: 7
Chrome: 3
Tao: 4
Flavors: 4
Cyber: 15
Bash: 42
DEMOS: 7
Q: 4
Pro*C: 5
Gist: 3
PROMETHEUS: 29
PILOT: 6
REDUCE: 28
Monkey: 1
Z++: 1
Z: 1
abs: 1
FaCT: 5
MACRO: 2
FLUX: 4
ECMAScript: 3
Argus: 3
Assembly: 6
PowerShell: 21
FoxPRO: 6
Delphi: 5
Visual FoxPro: 5
SCM: 2
Red: 14
MetaL: 3
bamboo: 13
SaltStack: 1
Mercury: 3
UNITY: 12
Arduino: 2
SAS: 15
SIGNAL: 4
SPSS: 22
Amazon Redshift: 4
Pig Latin: 1
Spatial: 15
AL: 5
jasper: 3
PowerBuilder: 1
SRL: 2
Virgil: 1
Dale: 1
Logos: 2
LUCID: 1
CUDA: 2
LINQ: 1
JOVIAL: 2
APL: 3
Objective C++: 6
Cell: 2
MIMIC: 4
Charity: 2
Meson: 1
DYNAMO: 1
PLANNER: 2
Haskell: 3
Gherkin: 3
OBJ: 2
frame: 4
Tea: 1
Sqlalchemy: 6
Erlang: 14
Sage: 5
Lisp: 1
Lua: 1
bloom: 3
score: 4
HL7: 4
VBA: 9
ActionScript: 3
Elixir: 4
MAPPER: 1
Boo: 7
Pan: 2
l2: 13
Augment: 2
FP: 2
fp: 2
Vale: 2
candor: 1
Stata: 1
Arc: 1
DML: 8
IPL: 1
XL: 4
Star: 3
fox: 2
LEAP: 7
Dockerfile: 1
Dc: 1
VBScript: 2
CORAL: 1
Coral: 1
UniVerse: 1
C2: 38

In [4]:
language_list = language_df['programming language'].to_list()
language_salary_dict={}
for lang in language_list:
    language_salary_dict[lang] = 0
print(language_salary_dict)

{'PHP': 0, 'Java': 0, 'JavaScript': 0, 'JS++': 0, 'Node.js': 0, 'Dart': 0, 'Visual Basic': 0, 'PostgreSQL': 0, 'TypeScript': 0, '.QL': 0, 'SQL': 0, 'MySQL': 0, 'CHAIN': 0, 'D++': 0, 'Flow': 0, 'FOCUS': 0, 'Python': 0, 'kernel': 0, 'Address': 0, 'ASP.NET': 0, 'C': 0, 'C++': 0, 'Go': 0, 'Ruby': 0, 'GraphQL': 0, 'Ada': 0, 'MariaDB': 0, 'Scheme': 0, 'Low*': 0, 'Expect': 0, 'Copilot': 0, 'Solidity': 0, 'pipelines': 0, 'solid': 0, 'RAPID': 0, 'NPL': 0, 'april': 0, 'flagship': 0, 'Swift': 0, 'Small': 0, 'Kotlin': 0, 'Simplicity': 0, 'Perl': 0, 'Scratch': 0, 'R': 0, 'R++': 0, 'F': 0, 'Scala': 0, 'Groovy': 0, 'Rust': 0, 'Revolution': 0, 'Apex': 0, 'Click': 0, 'MATLAB': 0, 'Adept': 0, 'dss': 0, 'SPARK': 0, 'Pure': 0, 'PL/SQL': 0, 'GAP': 0, 'Falcon': 0, 'Alpha': 0, 'Plot': 0, 'Joy': 0, 'CONVERT': 0, 'Frank': 0, 'Objective-C': 0, 'lever': 0, 'P': 0, 'JADE': 0, 'Blue': 0, 'NATURAL': 0, 'Inform': 0, 'Reason': 0, 'ARM': 0, 'SR': 0, 'Crystal': 0, 'PowerHouse': 0, 'Conceptual': 0, 'Factor': 0, 'False': 0, 'RPL': 0, 'SQLite': 0, 'fe': 0, 'Chrome': 0, 'Tao': 0, 'Flavors': 0, 'Cyber': 0, 'Bash': 0, 'DEMOS': 0, 'Q': 0, 'Pro*C': 0, 'Gist': 0, 'PROMETHEUS': 0, 'PILOT': 0, 'REDUCE': 0, 'Monkey': 0, 'Z++': 0, 'Z': 0, 'abs': 0, 'FaCT': 0, 'MACRO': 0, 'FLUX': 0, 'ECMAScript': 0, 'Argus': 0, 'Assembly': 0, 'PowerShell': 0, 'FoxPRO': 0, 'Delphi': 0, 'Visual FoxPro': 0, 'SCM': 0, 'Red': 0, 'MetaL': 0, 'bamboo': 0, 'SaltStack': 0, 'Mercury': 0, 'UNITY': 0, 'Arduino': 0, 'SAS': 0, 'SIGNAL': 0, 'SPSS': 0, 'Amazon Redshift': 0, 'Pig Latin': 0, 'Spatial': 0, 'AL': 0, 'jasper': 0, 'PowerBuilder': 0, 'SRL': 0, 'Virgil': 0, 'Dale': 0, 'Logos': 0, 'LUCID': 0, 'CUDA': 0, 'LINQ': 0, 'JOVIAL': 0, 'APL': 0, 'Objective C++': 0, 'Cell': 0, 'MIMIC': 0, 'Charity': 0, 'Meson': 0, 'DYNAMO': 0, 'PLANNER': 0, 'Haskell': 0, 'Gherkin': 0, 'OBJ': 0, 'frame': 0, 'Tea': 0, 'Sqlalchemy': 0, 'Erlang': 0, 'Sage': 0, 'Lisp': 0, 'Lua': 0, 'bloom': 0, 'score': 0, 'HL7': 0, 'VBA': 0, 'ActionScript': 0, 'Elixir': 0, 'MAPPER': 0, 'Boo': 0, 'Pan': 0, 'l2': 0, 'Augment': 0, 'FP': 0, 'fp': 0, 'Vale': 0, 'candor': 0, 'Stata': 0, 'Arc': 0, 'DML': 0, 'IPL': 0, 'XL': 0, 'Star': 0, 'fox': 0, 'LEAP': 0, 'Dockerfile': 0, 'Dc': 0, 'VBScript': 0, 'CORAL': 0, 'Coral': 0, 'UniVerse': 0, 'C2': 0}

In [5]:
for _, row in job_df.iterrows():
    salary = row['salary']
    for lang in row['programming language']:
        language_salary_dict[lang] += salary

print(language_salary_dict)

{'PHP': 2909950931.938514, 'Java': 4479768447.639802, 'JavaScript': 6852822430.894201, 'JS++': 3171589770.0990224, 'Node.js': 1750731855.6030312, 'Dart': 200005138.40966603, 'Visual Basic': 1671768775.090993, 'PostgreSQL': 1839993798.0923576, 'TypeScript': 1395920198.2517376, '.QL': 5360096604.482176, 'SQL': 5360096604.482176, 'MySQL': 2699152586.2269125, 'CHAIN': 972304055.6073251, 'D++': 832008594.1114683, 'Flow': 1114883780.38426, 'FOCUS': 2690734522.305558, 'Python': 4272074951.70023, 'kernel': 34507957.0, 'Address': 888272557.5543638, 'ASP.NET': 479763949.8744648, 'C': 2146290239.1312919, 'C++': 2179927263.495633, 'Go': 1655744374.0390837, 'Ruby': 823410051.0168891, 'GraphQL': 356615000.12044597, 'Ada': 546793184.6739922, 'MariaDB': 123791140.91538097, 'Scheme': 71066848.04069766, 'Low*': 340196237.3392867, 'Expect': 591377169.8926609, 'Copilot': 83329155.05711356, 'Solidity': 38084271.47797595, 'pipelines': 1356734670.2622058, 'solid': 2157237398.4837484, 'RAPID': 170448582.83980486, 'NPL': 11004708.625, 'april': 14125541.958333334, 'flagship': 68237628.49458727, 'Swift': 658268220.3392805, 'Small': 936837102.2134728, 'Kotlin': 713819916.3668859, 'Simplicity': 54280090.6870155, 'Perl': 128279688.27705848, 'Scratch': 170483560.27078247, 'R': 1201097176.1737666, 'R++': 1201097176.1737666, 'F': 211619622.7827866, 'Scala': 218515337.87962815, 'Groovy': 100628505.86055171, 'Rust': 240062315.9950275, 'Revolution': 186333278.82163242, 'Apex': 85976819.32937995, 'Click': 450960908.0479953, 'MATLAB': 98003496.32715702, 'Adept': 161677620.31184542, 'dss': 16597567.71590909, 'SPARK': 321126485.25828433, 'Pure': 32642399.65600775, 'PL/SQL': 124177045.29262754, 'GAP': 637811596.1703974, 'Falcon': 22573333.333333336, 'Alpha': 25124180.790960453, 'Plot': 424815662.7272725, 'Joy': 384542994.9419241, 'CONVERT': 236025554.2723329, 'Frank': 9373333.333333334, 'Objective-C': 114483700.23411097, 'lever': 9373333.333333334, 'P': 465339170.12107843, 'JADE': 38729645.02626928, 'Blue': 257641544.78787875, 'NATURAL': 613096519.0696859, 'Inform': 268001580.03519067, 'Reason': 222323927.66025597, 'ARM': 27800714.242424242, 'SR': 40006199.244723864, 'Crystal': 56260795.87001711, 'PowerHouse': 70537714.71428573, 'Conceptual': 137818545.38386795, 'Factor': 70268076.5904218, 'False': 10894166.666666668, 'RPL': 30746666.666666668, 'SQLite': 60398001.604811564, 'fe': 28314417.659244526, 'Chrome': 31011024.364341088, 'Tao': 30670847.457627118, 'Flavors': 18595995.426523298, 'Cyber': 72779248.1530277, 'Bash': 272635370.5184465, 'DEMOS': 58385051.51515152, 'Q': 55015662.72727273, 'Pro*C': 15535833.333333336, 'Gist': 12573333.333333334, 'PROMETHEUS': 135059016.64486605, 'PILOT': 64959265.51726568, 'REDUCE': 151068207.38070416, 'Monkey': 9373333.333333334, 'Z++': 9373333.333333334, 'Z': 9373333.333333334, 'abs': 9373333.333333334, 'FaCT': 148892630.0916138, 'MACRO': 136134105.72727272, 'FLUX': 44005464.235308826, 'ECMAScript': 39528715.39534883, 'Argus': 30966666.66666667, 'Assembly': 56253183.97164733, 'PowerShell': 116595730.81942748, 'FoxPRO': 27825298.44931558, 'Delphi': 25440450.720934127, 'Visual FoxPro': 24580850.29796423, 'SCM': 18380952.38095238, 'Red': 134406648.6456257, 'MetaL': 20369174.880382776, 'bamboo': 54017318.48534178, 'SaltStack': 14000000.0, 'Mercury': 38528715.39534883, 'UNITY': 73093542.64567873, 'Arduino': 7778662.5, 'SAS': 46607141.5365745, 'SIGNAL': 11897149.122807018, 'SPSS': 45098026.31578947, 'Amazon Redshift': 19120833.333333332, 'Pig Latin': 8000000.0, 'Spatial': 47060503.54585255, 'AL': 25112354.27810855, 'jasper': 35264357.697674416, 'PowerBuilder': 11000000.0, 'SRL': 23264357.697674416, 'Virgil': 11000000.0, 'Dale': 11000000.0, 'Logos': 13626000.0, 'LUCID': 11000000.0, 'CUDA': 30000000.0, 'LINQ': 12264357.697674418, 'JOVIAL': 24528715.395348836, 'APL': 18059653.30665289, 'Objective C++': 27919920.667043786, 'Cell': 14815205.155301537, 'MIMIC': 21600759.8442873, 'Charity': 13040673.487148102, 'Meson': 12264357.697674418, 'DYNAMO': 12264357.697674418, 'PLANNER': 24528715.395348836, 'Haskell': 27079562.852975953, 'Gherkin': 18225653.03589855, 'OBJ': 24528715.395348836, 'frame': 21115208.862208445, 'Tea': 31222900.0, 'Sqlalchemy': 22258957.92622613, 'Erlang': 46081293.97479012, 'Sage': 15969407.25650299, 'Lisp': 2550847.4576271186, 'Lua': 2550847.4576271186, 'bloom': 9336402.146612879, 'score': 8389103.118068546, 'HL7': 12221406.216848213, 'VBA': 24021392.100206535, 'ActionScript': 9336402.146612879, 'Elixir': 12849130.330649666, 'MAPPER': 3178571.571428572, 'Boo': 16803381.380952384, 'Pan': 5804571.571428572, 'l2': 72208824.90657105, 'Augment': 3791978.516746411, 'FP': 1552631.5789473683, 'fp': 1552631.5789473683, 'Vale': 1552631.5789473683, 'candor': 776315.7894736842, 'Stata': 776315.7894736842, 'Arc': 3015662.727272727, 'DML': 24501184.15645116, 'IPL': 3015662.727272727, 'XL': 14930944.211957412, 'Star': 8926003.706906907, 'fox': 5681555.555555556, 'LEAP': 16680388.88888889, 'Dockerfile': 5592859.090909091, 'Dc': 5592859.090909091, 'VBScript': 6654896.031948367, 'CORAL': 3244448.1513513518, 'Coral': 3244448.1513513518, 'UniVerse': 1520833.3333333333, 'C2': 59295833.33333333}

In [6]:
amount_list = language_df['job amount'].to_list()

i=0
for key,val in language_salary_dict.items():
    language_salary_dict[key] = val/amount_list[i]
    i+=1

print(language_salary_dict)

{'PHP': 5762279.073145573, 'Java': 6153528.08741731, 'JavaScript': 6168157.003505131, 'JS++': 5798153.14460516, 'Node.js': 5874939.11276185, 'Dart': 6250160.5753020635, 'Visual Basic': 7144311.004662363, 'PostgreSQL': 5041078.898883171, 'TypeScript': 6615735.536738093, '.QL': 6759264.31838862, 'SQL': 6759264.31838862, 'MySQL': 5282098.994573214, 'CHAIN': 15192250.868864454, 'D++': 7775781.253378209, 'Flow': 9290698.169868832, 'FOCUS': 8253786.878237909, 'Python': 6328999.928444785, 'kernel': 34507957.0, 'Address': 6299805.372725985, 'ASP.NET': 5711475.593743629, 'C': 5928978.561136166, 'C++': 5956085.4193869755, 'Go': 7847129.7347823875, 'Ruby': 7351875.455507939, 'GraphQL': 5751854.840652354, 'Ada': 7701312.4601970725, 'MariaDB': 5157964.20480754, 'Scheme': 11844474.673449611, 'Low*': 5865452.367918736, 'Expect': 17920520.2997776, 'Copilot': 10416144.382139195, 'Solidity': 9521067.869493987, 'pipelines': 5560387.992877893, 'solid': 6382359.167111682, 'RAPID': 5498341.381929189, 'NPL': 11004708.625, 'april': 4708513.986111111, 'flagship': 6203420.772235206, 'Swift': 6856960.628534172, 'Small': 13011626.419631567, 'Kotlin': 6101024.9262127, 'Simplicity': 10856018.1374031, 'Perl': 7126649.348725472, 'Scratch': 6819342.410831299, 'R': 8115521.460633558, 'R++': 8115521.460633558, 'F': 15115687.341627615, 'Scala': 6069870.496656338, 'Groovy': 10062850.58605517, 'Rust': 8891196.888704723, 'Revolution': 3054643.915108728, 'Apex': 7816074.484489086, 'Click': 8351127.926814728, 'MATLAB': 5764911.548656295, 'Adept': 7698934.300564067, 'dss': 8298783.857954545, 'SPARK': 3916176.6494912724, 'Pure': 10880799.885335917, 'PL/SQL': 5174043.553859481, 'GAP': 27730938.96393032, 'Falcon': 11286666.666666668, 'Alpha': 8374726.930320151, 'Plot': 9235123.102766793, 'Joy': 6746368.332314458, 'CONVERT': 10261980.620536214, 'Frank': 9373333.333333334, 'Objective-C': 6025457.907058472, 'lever': 9373333.333333334, 'P': 12245767.634765223, 'JADE': 7745929.005253856, 'Blue': 85880514.92929292, 'NATURAL': 9016125.280436559, 'Inform': 8375049.3760997085, 'Reason': 20211266.15093236, 'ARM': 4633452.373737373, 'SR': 6667699.874120644, 'Crystal': 5114617.806365192, 'PowerHouse': 6412519.519480521, 'Conceptual': 6264479.335630361, 'Factor': 7026807.65904218, 'False': 5447083.333333334, 'RPL': 7686666.666666667, 'SQLite': 5033166.800400964, 'fe': 4044916.8084635036, 'Chrome': 10337008.121447029, 'Tao': 7667711.864406779, 'Flavors': 4648998.8566308245, 'Cyber': 4851949.876868513, 'Bash': 6491318.345677298, 'DEMOS': 8340721.645021646, 'Q': 13753915.681818182, 'Pro*C': 3107166.666666667, 'Gist': 4191111.1111111115, 'PROMETHEUS': 4657207.470512622, 'PILOT': 10826544.252877614, 'REDUCE': 5395293.120739435, 'Monkey': 9373333.333333334, 'Z++': 9373333.333333334, 'Z': 9373333.333333334, 'abs': 9373333.333333334, 'FaCT': 29778526.01832276, 'MACRO': 68067052.86363636, 'FLUX': 11001366.058827206, 'ECMAScript': 13176238.465116277, 'Argus': 10322222.222222224, 'Assembly': 9375530.661941221, 'PowerShell': 5552177.658067975, 'FoxPRO': 4637549.741552597, 'Delphi': 5088090.1441868255, 'Visual FoxPro': 4916170.059592846, 'SCM': 9190476.19047619, 'Red': 9600474.90325898, 'MetaL': 6789724.960127592, 'bamboo': 4155178.345026291, 'SaltStack': 14000000.0, 'Mercury': 12842905.131782943, 'UNITY': 6091128.553806561, 'Arduino': 3889331.25, 'SAS': 3107142.7691049664, 'SIGNAL': 2974287.2807017546, 'SPSS': 2049910.2870813394, 'Amazon Redshift': 4780208.333333333, 'Pig Latin': 8000000.0, 'Spatial': 3137366.9030568367, 'AL': 5022470.8556217095, 'jasper': 11754785.899224805, 'PowerBuilder': 11000000.0, 'SRL': 11632178.848837208, 'Virgil': 11000000.0, 'Dale': 11000000.0, 'Logos': 6813000.0, 'LUCID': 11000000.0, 'CUDA': 15000000.0, 'LINQ': 12264357.697674418, 'JOVIAL': 12264357.697674418, 'APL': 6019884.435550963, 'Objective C++': 4653320.111173964, 'Cell': 7407602.577650769, 'MIMIC': 5400189.961071825, 'Charity': 6520336.743574051, 'Meson': 12264357.697674418, 'DYNAMO': 12264357.697674418, 'PLANNER': 12264357.697674418, 'Haskell': 9026520.950991984, 'Gherkin': 6075217.678632851, 'OBJ': 12264357.697674418, 'frame': 5278802.215552111, 'Tea': 31222900.0, 'Sqlalchemy': 3709826.3210376888, 'Erlang': 3291520.9981992943, 'Sage': 3193881.4513005977, 'Lisp': 2550847.4576271186, 'Lua': 2550847.4576271186, 'bloom': 3112134.04887096, 'score': 2097275.7795171365, 'HL7': 3055351.5542120533, 'VBA': 2669043.566689615, 'ActionScript': 3112134.04887096, 'Elixir': 3212282.5826624166, 'MAPPER': 3178571.571428572, 'Boo': 2400483.054421769, 'Pan': 2902285.785714286, 'l2': 5554524.992813157, 'Augment': 1895989.2583732056, 'FP': 776315.7894736842, 'fp': 776315.7894736842, 'Vale': 776315.7894736842, 'candor': 776315.7894736842, 'Stata': 776315.7894736842, 'Arc': 3015662.727272727, 'DML': 3062648.019556395, 'IPL': 3015662.727272727, 'XL': 3732736.052989353, 'Star': 2975334.568968969, 'fox': 2840777.777777778, 'LEAP': 2382912.6984126987, 'Dockerfile': 5592859.090909091, 'Dc': 5592859.090909091, 'VBScript': 3327448.0159741836, 'CORAL': 3244448.1513513518, 'Coral': 3244448.1513513518, 'UniVerse': 1520833.3333333333, 'C2': 1560416.6666666665}

In [7]:
language_salary_df = pd.DataFrame(list(language_salary_dict.items()), columns=['programming language', 'average salary'])
language_df = pd.merge(language_df, language_salary_df, on='programming language')

language_df.head()

  programming language job amount  average salary
0                  PHP        505    5.762279e+06
1                 Java        728    6.153528e+06
2           JavaScript       1111    6.168157e+06
3                 JS++        547    5.798153e+06
4              Node.js        298    5.874939e+06

In [8]:
language_df.to_csv('language_list.csv', index=False)

In [9]:
language_df.describe()

       average salary
count    1.830000e+02
mean     8.180756e+06
std      8.829836e+06
min      7.763158e+05
25%      4.651159e+06
50%      6.329000e+06
75%      9.373333e+06
max      8.588051e+07