In [28]:
import pandas as pd
import os

In [29]:
folder_path = 'wikidata'
dataframes = []

In [30]:
dataframes = []

for file in os.listdir(folder_path):
    file_path = os.path.join(folder_path, file)  
    try:
        df = pd.read_csv(file_path)  
        if not df.empty:  
            dataframes.append(df) 
        else:
            print(f"Warning: The file {file} is empty.")
    
    except Exception as e:
        print(f"Error reading {file}: {e}")

In [31]:
if dataframes:
    combined_df = dataframes[0]

    for df in dataframes[1:]:
        combined_df = combined_df.merge(df, on='Date', how='outer')    
    
else:
    print("No valid CSV files were found to merge.")

In [32]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           111 non-null    object
 1   C Sharp (bahasa pemrograman)   111 non-null    int64
 2   Dart (bahasa pemrograman)      111 non-null    int64
 3   PostgreSQL                     111 non-null    int64
 4   SQL                            111 non-null    int64
 5   MySQL                          111 non-null    int64
 6   Python (bahasa pemrograman)    111 non-null    int64
 7   Kernel (ilmu komputer)         111 non-null    int64
 8   ASP.NET                        111 non-null    int64
 9   C                              111 non-null    int64
 10  C++                            111 non-null    int64
 11  Go                             111 non-null    int64
 12  Ruby (bahasa pemrograman)      111 non-null    int64
 13  Ada (bahasa pemrograman)       111 non-null    int64
 14  MariaDB                        111 non-null    int64
 15  Solidity                       111 non-null    int64
 16  Swift (bahasa pemrograman)     111 non-null    int64
 17  Kotlin (bahasa pemrograman)    111 non-null    int64
 18  Perl                           111 non-null    int64
 19  Scratch (bahasa pemrograman)   111 non-null    int64
 20  R (bahasa pemrograman)         111 non-null    int64
 21  Scala (bahasa pemrograman)     111 non-null    int64
 22  Rust (bahasa pemrograman)      111 non-null    int64
 23  MATLAB                         111 non-null    int64
 24  SQLite                         111 non-null    int64
 25  Bash (syel Unix)               111 non-null    int64
 26  Bahasa rakitan                 111 non-null    int64
 27  PowerShell                     111 non-null    int64
 28  FoxPro                         111 non-null    int64
 29  Embarcadero Delphi             111 non-null    int64
 30  Visual FoxPro                  111 non-null    int64
 31  Unity (mesin permainan)        111 non-null    int64
 32  Arduino                        111 non-null    int64
 33  Statistical Analysis System    111 non-null    int64
 34  SPSS                           111 non-null    int64
 35  Haskell                        111 non-null    int64
 36  SQLAlchemy                     111 non-null    int64
 37  Sage                           111 non-null    int64
 38  Lisp (bahasa pemrograman)      111 non-null    int64
 39  Lua (bahasa pemrograman)       111 non-null    int64
 40  Visual Basic for Applications  111 non-null    int64
 41  ActionScript                   111 non-null    int64
 42  Elixir (bahasa pemrograman)    111 non-null    int64
 43  Stata                          111 non-null    int64
 44  VBScript                       111 non-null    int64
 45  Java                           111 non-null    int64
 46  JavaScript                     111 non-null    int64
 47  Node.js                        111 non-null    int64
 48  PHP                            111 non-null    int64
 49  Visual Basic                   111 non-null    int64
dtypes: int64(49), object(1)
memory usage: 43.5+ KB

In [33]:
combined_df.columns = combined_df.columns.str.replace(r"\s*\(.*\)", "", regex=True)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           111 non-null    object
 1   C Sharp                        111 non-null    int64
 2   Dart                           111 non-null    int64
 3   PostgreSQL                     111 non-null    int64
 4   SQL                            111 non-null    int64
 5   MySQL                          111 non-null    int64
 6   Python                         111 non-null    int64
 7   Kernel                         111 non-null    int64
 8   ASP.NET                        111 non-null    int64
 9   C                              111 non-null    int64
 10  C++                            111 non-null    int64
 11  Go                             111 non-null    int64
 12  Ruby                           111 non-null    int64
 13  Ada                            111 non-null    int64
 14  MariaDB                        111 non-null    int64
 15  Solidity                       111 non-null    int64
 16  Swift                          111 non-null    int64
 17  Kotlin                         111 non-null    int64
 18  Perl                           111 non-null    int64
 19  Scratch                        111 non-null    int64
 20  R                              111 non-null    int64
 21  Scala                          111 non-null    int64
 22  Rust                           111 non-null    int64
 23  MATLAB                         111 non-null    int64
 24  SQLite                         111 non-null    int64
 25  Bash                           111 non-null    int64
 26  Bahasa rakitan                 111 non-null    int64
 27  PowerShell                     111 non-null    int64
 28  FoxPro                         111 non-null    int64
 29  Embarcadero Delphi             111 non-null    int64
 30  Visual FoxPro                  111 non-null    int64
 31  Unity                          111 non-null    int64
 32  Arduino                        111 non-null    int64
 33  Statistical Analysis System    111 non-null    int64
 34  SPSS                           111 non-null    int64
 35  Haskell                        111 non-null    int64
 36  SQLAlchemy                     111 non-null    int64
 37  Sage                           111 non-null    int64
 38  Lisp                           111 non-null    int64
 39  Lua                            111 non-null    int64
 40  Visual Basic for Applications  111 non-null    int64
 41  ActionScript                   111 non-null    int64
 42  Elixir                         111 non-null    int64
 43  Stata                          111 non-null    int64
 44  VBScript                       111 non-null    int64
 45  Java                           111 non-null    int64
 46  JavaScript                     111 non-null    int64
 47  Node.js                        111 non-null    int64
 48  PHP                            111 non-null    int64
 49  Visual Basic                   111 non-null    int64
dtypes: int64(49), object(1)
memory usage: 43.5+ KB

In [34]:
combined_df.rename(columns={"C Sharp":"C#"}, inplace=True)
combined_df.rename(columns={"Bahasa rakitan":"Assembly"}, inplace=True)
combined_df.rename(columns={"Embarcadero Delphi":"Delphi"}, inplace=True)
combined_df.rename(columns={"Visual Basic for Applications":"VBA"}, inplace=True)
combined_df.rename(columns={"Statistical Analysis System":"SAS"}, inplace=True)

combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 50 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           111 non-null    object
 1   C#             111 non-null    int64
 2   Dart           111 non-null    int64
 3   PostgreSQL     111 non-null    int64
 4   SQL            111 non-null    int64
 5   MySQL          111 non-null    int64
 6   Python         111 non-null    int64
 7   Kernel         111 non-null    int64
 8   ASP.NET        111 non-null    int64
 9   C              111 non-null    int64
 10  C++            111 non-null    int64
 11  Go             111 non-null    int64
 12  Ruby           111 non-null    int64
 13  Ada            111 non-null    int64
 14  MariaDB        111 non-null    int64
 15  Solidity       111 non-null    int64
 16  Swift          111 non-null    int64
 17  Kotlin         111 non-null    int64
 18  Perl           111 non-null    int64
 19  Scratch        111 non-null    int64
 20  R              111 non-null    int64
 21  Scala          111 non-null    int64
 22  Rust           111 non-null    int64
 23  MATLAB         111 non-null    int64
 24  SQLite         111 non-null    int64
 25  Bash           111 non-null    int64
 26  Assembly       111 non-null    int64
 27  PowerShell     111 non-null    int64
 28  FoxPro         111 non-null    int64
 29  Delphi         111 non-null    int64
 30  Visual FoxPro  111 non-null    int64
 31  Unity          111 non-null    int64
 32  Arduino        111 non-null    int64
 33  SAS            111 non-null    int64
 34  SPSS           111 non-null    int64
 35  Haskell        111 non-null    int64
 36  SQLAlchemy     111 non-null    int64
 37  Sage           111 non-null    int64
 38  Lisp           111 non-null    int64
 39  Lua            111 non-null    int64
 40  VBA            111 non-null    int64
 41  ActionScript   111 non-null    int64
 42  Elixir         111 non-null    int64
 43  Stata          111 non-null    int64
 44  VBScript       111 non-null    int64
 45  Java           111 non-null    int64
 46  JavaScript     111 non-null    int64
 47  Node.js        111 non-null    int64
 48  PHP            111 non-null    int64
 49  Visual Basic   111 non-null    int64
dtypes: int64(49), object(1)
memory usage: 43.5+ KB

In [35]:
combined_df.to_csv('cleaned_wikidata.csv', index=False)

In [38]:
averages = []

for col in combined_df.columns[1:]:  
    first_non_zero_idx = combined_df[col].ne(0).idxmax()
    
    if first_non_zero_idx is not None:
        avg_views = combined_df.loc[first_non_zero_idx:, col].mean()
        averages.append({"name": col, "avg wiki views (monthly)": avg_views})

In [40]:
avg_df = pd.DataFrame(averages)
avg_df.to_csv('avg_wiki_monthly.csv',index=False)
avg_df

             name  avg wiki views (monthly)
0              C#                501.522727
1            Dart                 51.125000
2      PostgreSQL                546.459459
3             SQL               1507.720721
4           MySQL               3249.009009
5          Python               5593.468468
6          Kernel               1852.279279
7         ASP.NET                 15.954955
8               C               1236.414414
9             C++               5386.315315
10             Go                 92.639640
11           Ruby                861.270270
12            Ada                200.342342
13        MariaDB                284.531532
14       Solidity                 76.618421
15          Swift                180.594595
16         Kotlin                362.439024
17           Perl                359.468468
18        Scratch               2159.153153
19              R                821.099099
20          Scala                387.826087
21           Rust                154.402299
22         MATLAB                994.981982
23         SQLite                287.522523
24           Bash                 51.250000
25       Assembly               1327.882883
26     PowerShell                  8.558559
27         FoxPro                 16.630631
28         Delphi                448.549550
29  Visual FoxPro                480.081081
30          Unity                604.644444
31        Arduino               3293.414414
32            SAS                165.945946
33           SPSS               1579.342342
34        Haskell                 91.450450
35     SQLAlchemy                 22.296296
36           Sage                 87.450450
37           Lisp                101.037037
38            Lua                249.288288
39            VBA                512.756757
40   ActionScript                358.621622
41         Elixir                182.471429
42          Stata                101.180180
43       VBScript                176.612613
44           Java               3946.756757
45     JavaScript               5305.108108
46        Node.js                665.180180
47            PHP               4107.522523
48   Visual Basic               4833.774775

In [42]:
combined_df[['C']].mean()

C    1236.414414
dtype: float64