In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('../../data/merge.csv')
df['location_count'] = df['location'].apply(lambda x: len(eval(x)))
df.drop('location',axis=1, inplace=True)
df

,programming language,tiobe index ratings,job amount,average salary,linkedin skill,github user count,wiki view Oct 2024,search count Oct 2024,stack_overflow_count_2024,location_count
0,Java,10.51,728,6.153528e+06,103000,6800,1577.0,13,202,12
1,JavaScript,3.54,1111,6.168157e+06,118000,11400,2134.0,18,474,12
2,Dart,0.56,32,6.250161e+06,945,877,170.0,0,129,6
3,Node.js,0.00,450,5.596209e+06,34000,-1,399.0,4,291,8
4,PHP,1.21,505,5.762279e+06,123000,8600,1445.0,16,272,11
...,...,...,...,...,...,...,...,...,...,...
170,Dc,0.00,1,5.592859e+06,0,-1,-1.0,0,0,1
171,VBScript,0.33,2,3.327448e+06,692,-1,80.0,11,0,1
172,CORAL,0.00,1,3.244448e+06,0,-1,-1.0,0,0,1
173,UniVerse,0.00,1,1.520833e+06,0,-1,-1.0,0,0,1
174,C2,0.00,38,1.560417e+06,0,-1,-1.0,0,0,12

In [6]:
# standardize the data
scaler = StandardScaler()
df[['tiobe index ratings_T','job amount_T','average salary_T','linkedin skill_T',
    	'wiki view Oct 2024_T','github user count_T','search count Oct 2024_T',
        'stack_overflow_count_2024_T','location_count_T']] = scaler.fit_transform(df[['tiobe index ratings','job amount',
        'average salary','linkedin skill',
    	'wiki view Oct 2024','github user count','search count Oct 2024',
        'stack_overflow_count_2024','location_count']])

df

,programming language,tiobe index ratings,job amount,average salary,linkedin skill,github user count,wiki view Oct 2024,search count Oct 2024,stack_overflow_count_2024,location_count,tiobe index ratings_T,job amount_T,average salary_T,linkedin skill_T,wiki view Oct 2024_T,github user count_T,search count Oct 2024_T,stack_overflow_count_2024_T,location_count_T
0,Java,10.51,728,6.153528e+06,103000,6800,1577.0,13,202,12,4.602523,4.471072,-0.234475,4.029507,2.356876,5.065941,0.363212,2.071070,2.917045
1,JavaScript,3.54,1111,6.168157e+06,118000,11400,2134.0,18,474,12,1.395774,7.029718,-0.232846,4.658651,3.292547,8.626879,0.663600,5.339627,2.917045
2,Dart,0.56,32,6.250161e+06,945,877,170.0,0,129,6,0.024739,-0.178580,-0.223714,-0.250981,-0.006662,0.480846,-0.417797,1.193847,0.930730
3,Node.js,0.00,450,5.596209e+06,34000,-1,399.0,4,291,8,-0.232905,2.613884,-0.296539,1.135443,0.378022,-0.198829,-0.177486,3.140561,1.592835
4,PHP,1.21,505,5.762279e+06,123000,8600,1445.0,16,272,11,0.323790,2.981313,-0.278045,4.868366,2.135136,6.459352,0.543445,2.912243,2.585993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Dc,0.00,1,5.592859e+06,0,-1,-1.0,0,0,1,-0.232905,-0.385677,-0.296912,-0.290617,-0.293915,-0.198829,-0.417797,-0.356314,-0.724532
171,VBScript,0.33,2,3.327448e+06,692,-1,80.0,11,0,1,-0.081079,-0.378996,-0.549193,-0.261592,-0.157848,-0.198829,0.243057,-0.356314,-0.724532
172,CORAL,0.00,1,3.244448e+06,0,-1,-1.0,0,0,1,-0.232905,-0.385677,-0.558436,-0.290617,-0.293915,-0.198829,-0.417797,-0.356314,-0.724532
173,UniVerse,0.00,1,1.520833e+06,0,-1,-1.0,0,0,1,-0.232905,-0.385677,-0.750381,-0.290617,-0.293915,-0.198829,-0.417797,-0.356314,-0.724532
174,C2,0.00,38,1.560417e+06,0,-1,-1.0,0,0,12,-0.232905,-0.138497,-0.745973,-0.290617,-0.293915,-0.198829,-0.417797,-0.356314,2.917045

In [7]:
df.to_csv('standardized_result.csv', index=False)

In [18]:
df1 = pd.read_csv('cluster_result.csv')
df1['dbscan_cluster'] = df1['dbscan_cluster'].replace({1: 0, 0: 1})
df1['birch_cluster'] = df1['birch_cluster'].replace({1: 0, 0: 1})
df1

,programming language,tiobe index ratings,job amount,average salary,linkedin skill,github user count,wiki view Oct 2024,search count Oct 2024,stack_overflow_count_2024,location_count,...,search count Oct 2024_T,stack_overflow_count_2024_T,location_count_T,kmeans_2,agg_cluster,dbscan_cluster,gmm_cluster2,som_cluster,optics_cluster,birch_cluster
0,Java,10.51,728,6.153528e+06,103000,6800,1577.0,13,202,12,...,0.363212,2.071070,2.917045,0,0,0,1,5,0,0
1,JavaScript,3.54,1111,6.168157e+06,118000,11400,2134.0,18,474,12,...,0.663600,5.339627,2.917045,0,0,0,1,5,0,0
2,Dart,0.56,32,6.250161e+06,945,877,170.0,0,129,6,...,-0.417797,1.193847,0.930730,1,1,1,1,8,1,1
3,Node.js,0.00,450,5.596209e+06,34000,-1,399.0,4,291,8,...,-0.177486,3.140561,1.592835,1,0,1,1,3,41,1
4,PHP,1.21,505,5.762279e+06,123000,8600,1445.0,16,272,11,...,0.543445,2.912243,2.585993,0,0,0,1,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Dc,0.00,1,5.592859e+06,0,-1,-1.0,0,0,1,...,-0.417797,-0.356314,-0.724532,1,1,1,0,30,16,1
171,VBScript,0.33,2,3.327448e+06,692,-1,80.0,11,0,1,...,0.243057,-0.356314,-0.724532,1,1,1,1,12,33,1
172,CORAL,0.00,1,3.244448e+06,0,-1,-1.0,0,0,1,...,-0.417797,-0.356314,-0.724532,1,1,1,0,24,19,1
173,UniVerse,0.00,1,1.520833e+06,0,-1,-1.0,0,0,1,...,-0.417797,-0.356314,-0.724532,1,1,1,0,18,23,1
174,C2,0.00,38,1.560417e+06,0,-1,-1.0,0,0,12,...,-0.417797,-0.356314,2.917045,1,1,1,0,23,39,1

In [28]:
df1['cluster_count'] = (
    (df1['kmeans_2'] == 0).astype(int) +
    (df1['agg_cluster'] == 0).astype(int) +
    (df1['dbscan_cluster'] == 0).astype(int) + 
    (df1['birch_cluster'] == 0).astype(int)
)
df1[df1['cluster_count'] >= 2]['programming language']

0           Java
1     JavaScript
4            PHP
6          MySQL
8            SQL
9     PostgreSQL
14        Python
20             C
41           C++
Name: programming language, dtype: object

In [ ]:
print(df['programming language'])

0            Java
1      JavaScript
2            Dart
3         Node.js
4             PHP
          ...
170            Dc
171      VBScript
172         CORAL
173      UniVerse
174            C2
Name: programming language, Length: 175, dtype: object